/*
    COLOR
*/
$c-black: #000;
$c-white: #fff;

$c-simbol-navy: #002b4e;
$c-simbol-yellow: #ffd953;
$c-light: #f5f5f5;
$c-bar: #979797;

/*
    FONT-WEIGHT
*/
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
